* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: #21130d;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 2;
}

#file-input {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  color: white;
}

#sound-canvas {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

#audio {
  position: fixed;
  left: 20%;
  top: 5%;
  width: 60%;
  z-index: 2;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
  overflow: hidden;
  filter: invert(100%);
}

audio::-webkit-media-controls-panel {
  /* background-color: rgba(255, 0, 255, 1); */
  /* background-color: transparent; */
}

audio::-webkit-media-controls-mute-button {
}

audio::-webkit-media-controls-play-button {
}

audio::-webkit-media-controls-play-button:disabled {
}

audio::-webkit-media-controls-timeline-container {
}

audio::-webkit-media-controls-current-time-display {
}

audio::-webkit-media-controls-time-remaining-display {
}

audio::-webkit-media-controls-volume-control-container {
}

audio::-webkit-media-controls-timeline {
}

audio::-webkit-media-controls-volume-slider-container {
}

audio::-webkit-media-controls-volume-slider {
}

audio::-webkit-media-controls-seek-back-button {
}

audio::-webkit-media-controls-seek-forward-button {
}

audio::-webkit-media-controls-fullscreen-button {
}

audio::-webkit-media-controls-rewind-button {
}

audio::-webkit-media-controls-return-to-realtime-button {
}

audio::-webkit-media-controls-toggle-closed-captions-button {
}
